<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.miniProj.model.BoardDao">

	<resultMap
		type="com.my.miniProj.model.Board" id="board">
		<id property="boardNum" column="BOARD_NUM" />
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardContent" column="BOARD_CONTENT" />
		<result property="boardDate" column="BOARD_DATE" />
		<result property="boardWriter" column="BOARD_WRITER" />
		<result property="boardLike" column="BOARD_LIKE" />
		<result property="boardViews" column="BOARD_VIEWS" />
	</resultMap>
	
	<resultMap
		type="com.my.miniProj.model.PopoUserDTO" id="popoMap">
		<id property="popoNum" column="POPO_NUM" />
		<result property="popoId" column="POPO_ID" />
		<result property="popoPw" column="POPO_PW" />
		<result property="popoName" column="POPO_NAME" />
		<result property="popoTel" column="POPO_TEL" />
		<result property="popoEmail" column="POPO_EMAIL" />
		<result property="popoNickname" column="POPO_NICKNAME" />
		<result property="popoMain" column="POPO_MAIN" />
		<result property="popoSub" column="POPO_SUB" />
		<result property="popoDate" column="POPO_DATE" />
		<result property="popoQuit" column="POPO_QUIT" />
		<result property="popoBan" column="POPO_BAN" />
	</resultMap>

	<!-- 게시글 등록 처리 -->
	<insert id="create">
	<![CDATA[
		INSERT INTO board
		(
		board_num,
		board_title,
		board_content,
		board_date,
		board_writer,
		board_like,
		board_views
		)
		VALUES
		(
		board_seq.NEXTVAL,
		#{boardTitle},
		#{boardContent},
		sysdate,
		'임시글쓴이',
		0,
		0
		)
	]]>
	</insert>

	<!-- 게시글 목록 -->
	<select id="list" parameterType="Pages" resultMap="board">
	<![CDATA[
		SELECT board_num,
		board_title,
		board_content,
		board_date,
		board_writer,
		board_like,
		board_views
		FROM 
		(select A.BOARD_NUM,
		A.BOARD_TITLE,
		A.BOARD_CONTENT,
		A.BOARD_DATE,
		A.BOARD_WRITER,
		A.BOARD_LIKE,
		A.BOARD_VIEwS,
		rownum as rnum
		from 
		( SELECT BOARD_NUM,
		BOARD_TITLE,
		BOARD_CONTENT,
		BOARD_DATE,
		BOARD_WRITER,
		BOARD_LIKE,
		BOARD_VIEws
		from board
		order by BOARD_DATE desc, BOARD_NUM desc
		)
		 A
		)
		where rnum between #{sizePerPage}*#{page}-9 and #{sizePerPage}*#{page}
  ]]>
	</select>

	<!--게시글 전체 건수 조회 -->
	<select id="count" resultType="int">
    <![CDATA[
    	SELECT count(BOARD_NUM)
    	FROM BOARD
    	WHERE BOARD_NUM > 0
    ]]>
    </select>
    
    <!-- 게시글 조회수 증가 -->
    <select id="views">
    <![CDATA[
   		UPDATE board
		SET BOARD_VIEWS = BOARD_VIEWS+1
		WHERE BOARD_NUM = #{boardNum}
    ]]>
    </select>
    
    <!-- 게시글 상세보기 -->
    <select id="read" resultMap="board">
    <![CDATA[
    	SELECT board_num,
		board_title,
		board_content,
		board_date,
		board_writer,
		board_like,
		board_views
		FROM BOARD
		WHERE board_num = #{boardNum}
    	]]>
    </select>
    
    <!-- 게시글 수정 -->
    <update id="update">
    <![CDATA[
		UPDATE board
		SET BOARD_TITLE = #{boardTitle},
		BOARD_CONTENT = #{boardContent}
		WHERE BOARD_NUM = #{boardNum}
	]]>
	</update>

	<!-- 게시글 삭제 처리 -->
	<delete id="delete">
	<![CDATA[
		DELETE FROM board
		WHERE BOARD_NUM = #{boardNum}
	]]>
	</delete>
	
	<!-- 내가 쓴 게시글 목록 -->
	<!-- popo_num로 board 가져오기 -->
	<select id="listMyBoard" resultMap="board">
	<![CDATA[
		SELECT board_num,
		board_title,
		board_content,
		board_date,
		board_writer,
		board_like,
		board_views
		FROM board
		where board_writer in (
			select popo_id
			from popouser
			where popo_num = #{popoNum}
		);
	]]>
	</select>

</mapper>