<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.miniProj.model.RecordDAO">

	<resultMap
		type="com.my.miniProj.model.RecordDTO" id="recMap">
		<id property="popoId" column="POPO_ID" />
		<result property="sumName" column="SUM_NAME" />
		<result property="searchDate" column="SEARCH_DATE" />

		
	</resultMap>
	
	<select id = "checkDupRec" parameterType="com.my.miniProj.model.RecordDTO" resultType="int">
		SELECT COUNT(*) FROM record WHERE (sum_name = #{sumName} AND popo_num = #{popoNum})
	</select>
	
	<delete id = "deleteRec" parameterType="com.my.miniProj.model.RecordDTO">
	DELETE * FROM record WHERE (sum_name = #{sumName} AND popo_num = #{popoNum})
	</delete>
	
	<insert id="addRec" parameterType="com.my.miniProj.model.RecordDTO">
	INSERT INTO record(popo_num, sum_name, SEARCH_DATE) VALUES (#{popoNum}, #{sumName}, SYSDATE)
	</insert>
	
	<delete id = "deleteOldRec" parameterType = "int">
	DELETE * FROM record WHERE popo_num = #{popoNum} AND search_date = (SELECT MIN(search_date) FROM record)
	</delete>	
	
	<select id = "countRec" parameterType = "int" resultType="int">
		SELECT COUNT(*) FROM record WHERE popo_num = #{popoNum}
	</select>
	
	<select id = "listRec" parameterType = "int" resultMap="recMap">
		SELECT * FROM record WHERE popo_num = #{popoNum}
	</select>
	
</mapper>